# ignore ALL .env files
*.env
!env-template.env

# Ignore homepage logs
homepage/config/logs/*
.log
.logs

# Ignore Uptime Kuma database
uptime_kuma/data/*.db
uptime_kuma/data/*.db-*

# Ignore Uptime Kuma certificates
uptime_kuma/data/docker-tls

# Ignore folders
jellyseerr/
sonarr/
radarr/
stirlingPDF/
changedetection/
database/
readarr/
code-server/
grafana/
mkdocs/
homepage/
prometheus/

# Ignore NAS and security compose files
nas.yaml
security.yaml