### ( -- COMMON VALUES -- ) ###
TZ=""
PUID=
PGID=
RESTART_POLICY="unless-stopped"
SERVER_IP=""
SECURITY_IP=""
NAS_IP=""
SERVER_SUBDOMAIN_NAME="" # Server Host and subdomain
SECURITY_SUBDOMAIN_NAME="" # Security Host and subdomain
NAS_SUBDOMAIN_NAME="" # NAS Host and subdomain
DOMAIN_NAME="" # Domain name
DOCKER_SOCK="/var/run/docker.sock"
SERVER_CLOUDFARE_TUNNEL_TOKEN=""
SECURITY_CLOUDFARE_TUNNEL_TOKEN=""
NAS_CLOUDFARE_TUNNEL_TOKEN=""
CLOUDFLARE_DNS_API_TOKEN=""

### ( -- APP SPECIFIC VALUES -- ) ###

# Homepage
CALENDAR_URL=
STEAM_URL=
DISCORD_WIDGET_ID=

# Jellyseer
LOG_LEVEL=

# Pihole
WEBPASSWORD=

# Jellyfin
# JELLYFIN_PublishedServerUrl=
DOCKER_MODS=

# Traefik
EMAIL=