### ( -- COMMON VALUES -- ) ###
TZ=""
PUID=
PGID=
RESTART_POLICY="unless-stopped"
SERVER_IP=""
SECURITY_IP=""
NAS_IP=""
SERVER_SUBDOMAIN_NAME="" # Server Host and subdomain
SECURITY_SUBDOMAIN_NAME="" # Security Host and subdomain
NAS_SUBDOMAIN_NAME="" # NAS Host and subdomain
DOMAIN_NAME="" # Domain name
DOCKER_SOCK="/var/run/docker.sock"
SERVER_CLOUDFARE_TUNNEL_TOKEN=""
SECURITY_CLOUDFARE_TUNNEL_TOKEN=""
NAS_CLOUDFARE_TUNNEL_TOKEN=""
CLOUDFLARE_DNS_API_TOKEN=""

### ( -- APP SPECIFIC VALUES -- ) ###

# Homepage
CALENDAR_URL=
STEAM_URL=
DISCORD_WIDGET_ID=

# Jellyseer
LOG_LEVEL=

# Pihole
WEBPASSWORD=

# Jellyfin
# JELLYFIN_PublishedServerUrl=
DOCKER_MODS=

# Traefik
EMAIL=

### ( -- SERVER HOST PORTS -- ) ### 

CADVISOR_HOST_PORT=
CHANGEDETECTION_HOST_PORT=
CODE_HOST_PORT=
DOZZLE_HOST_PORT=
GLANCES_HOST_PORT=
GRAFANA_HOST_PORT=
HOMEPAGE_HOST_PORT=
ITTOOLS_HOST_PORT=
JELLYSEERR_HOST_PORT=
PROMETHEUS_HOST_PORT=
PROWLARR_HOST_PORT=
RADARR_HOST_PORT=
READARR_HOST_PORT=
REDIS_HOST_PORT=
SONARR_HOST_PORT=
STIRLING_HOST_PORT=
UPTIMEKUMA_HOST_HTTPS=
UPTIMEKUMA_HOST_PORT=
WEBCHECK_HOST_PORT=

### ( -- SERVER CONTAINER PORTS -- ) ###

CADVISOR_CONTAINER_PORT=8080
CHANGEDETECTION_CONTAINER_PORT=5000
CODE_CONTAINER_PORT=8443
DOZZLE_CONTAINER_PORT=8080
GLANCES_CONTAINER_PORT=61208    
GRAFANA_CONTAINER_PORT=3000
HOMEPAGE_CONTAINER_PORT=3000
ITTOOLS_CONTAINER_PORT=80
JELLYSEERR_CONTAINER_PORT=5055
PROMETHEUS_CONTAINER_PORT=9090
PROWLARR_CONTAINER_PORT=9696
RADARR_CONTAINER_PORT=7878
READARR_CONTAINER_PORT=8787
REDIS_CONTAINER_PORT=6379
SONARR_CONTAINER_PORT=8989
STIRLING_CONTAINER_PORT=8080
UPTIMEKUMA_CONTAINER_HTTPS=3306
UPTIMEKUMA_CONTAINER_PORT=3001
WEBCHECK_CONTAINER_PORT=3000

### ( -- NAS HOST PORTS -- ) ###
GITEA_HOST_PORT=
GITEA_HOST_SSH_PORT=
JELLYFIN_HOST_PORT_HTTPS=
JELLYFIN_HOST_PORT=
QBTORRENT_UI_HOST_PORT=
QBTORRENT_TORRENTING_HOST_PORT=
NETBOOT_HOST_TCP_PORT=
NETBOOT_HOST_UDP_PORT=
SCRUTINY_HOST_PORT=
SCRUTINYDB_HOST_PORT=

### ( -- NAS CONTAINER PORTS -- ) ###
GITEA_CONTAINER_PORT=3000
GITEA_CONTAINER_SSH_PORT=22
JELLYFIN_CONTAINER_PORT_HTTPS=8920
JELLYFIN_CONTAINER_PORT=8096
QBTORRENT_UI_CONTAINER_PORT=8080
QBTORRENT_TORRENTING_CONTAINER_PORT=6881
NETBOOT_CONTAINER_TCP_PORT=3000
NETBOOT_CONTAINER_UDP_PORT=69
SCRUTINY_CONTAINER_PORT=8080
SCRUTINYDB_CONTAINER_PORT=8086

### ( -- SECURITY HOST PORTS -- ) ###
TRAEFIK_HTTP_PORT=80
TRAEFIK_HTTPS_PORT=443
TRAEFIK_DASHBOARD_HOST_PORT=
PORTAINER_HTTP_HOST_PORT=
PORTAINER_HTTPS_HOST_PORT=
PIHOLE_HOST_HTTP_PORT=
PIHOLE_HOST_HTTPS_PORT=
AUTHELIA_HOST_PORT=
WHATSAPPDOCKER_HOST_PORT=

### ( -- SECURITY CONTAINER PORTS -- ) ###
TRAEFIK_DASHBOARD_CONTAINER_PORT=8080
PORTAINER_HTTP_CONTAINER_PORT=9000
PORTAINER_HTTPS_CONTAINER_PORT=9443
PIHOLE_CONTAINER_HTTP_PORT=80
PIHOLE_CONTAINER_HTTPS_PORT=443
AUTHELIA_CONTAINER_PORT=9091
WHATSAPPDOCKER_CONTAINER_PORT=3000